name: RELEASE

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  release:
    name: Release project
    runs-on: ubuntu-latest
    steps:
    - name: Archieve
      uses: thedoctor0/zip-release@master
      with:
        filename: game.zip
    - name: Create github release
      id: create-release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.run_number }}
        release_name: Release ${{ github.run_number }}
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env: 
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create-release.outputs.upload_url }}
        asset_path: ./game.zip
        asset_name: game-v${{ github.run_number }}.zip
        asset_content_type: application/zip
